/* KANBOARD PLUGIN - METAMAGIK CSS FILE */

/*------ PAGE HEADER ------*/

.task-form-main-column .metamagik-form-textarea {
    width:700px;
}

.task-form-secondary-column .metamagik-form-textarea {
    width:auto;
}

summary > :is(h1, h2, h3, h4, h5, h6) {
    display: inline-flex;
}
